h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

body {
  background: #e5e5e5;
  font-family: Roboto;
}

body {
  background: #e5e5e5;
  font-family: Roboto;
}

img {
  max-width: 100%;
}

.btn {
  cursor: pointer;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.19;
  font-style: normal;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-header-studio {
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.19;
  font-style: normal;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-footer-studio {
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-style: normal;
  font-size: 26px;
  color: #ffffff;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}

.header__nav {
  display: flex;
  align-items: baseline;
}

.header-list {
  display: flex;
  margin-left: 88px;
  margin-right: 84px;
}

@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
}

.header-list__li {
  margin-right: 50px;
  cursor: pointer;
}

.header-list__li:last-child {
  margin-right: 0px;
}

.header-list__link {
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 32px;
  margin-top: 32px;
}

.header-list__link:focus, .header-list__link:hover {
  color: #2196f3;
}

.header-list__link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0px;
  background-color: #2196f3;
  height: 4px;
  border-radius: 2px;
}

.current {
  position: relative;
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .header-list2 {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .header-list2 {
    display: block;
  }
}

@media screen and (min-width: 1199px) {
  .header-list2 {
    display: inline-flex;
    margin-left: 178px;
  }
}

.header-list2__li {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header-list2__li {
    margin-bottom: 10px;
  }
  .header-list2__li:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1199px) {
  .header-list2__li {
    margin-right: 50px;
    margin-bottom: 0px;
  }
  .header-list2__li:last-child {
    margin-right: 0px;
  }
}

.header-list2__link {
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  font-size: 14px;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  display: flex;
  align-items: center;
}

.header-list2__link:focus, .header-list2__link:hover {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .header-list2__link {
    font-size: 12px;
    line-height: 1.16;
  }
}

.header-list2__icon {
  margin-right: 10px;
}

.motto {
  background: #2f303a;
  display: flex;
  align-items: center;
  max-width: 480px;
  min-height: 400px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-mob.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 481px) {
  .motto {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-tab.jpg");
  }
}

@media screen and (min-width: 769px) {
  .motto {
    height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background.jpg");
  }
}

@media screen and (min-width: 769px) {
  .motto .container {
    width: 396px;
  }
}

@media screen and (min-width: 1199px) {
  .motto .container {
    width: 700px;
  }
}

.motto__h1 {
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  font-style: normal;
  padding-bottom: 30px;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  color: #fff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .motto__h1 {
    font-size: 44px;
    line-height: 1.36;
  }
}

.motto__btn {
  font-weight: 700;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  border: 0px;
  font-size: 16px;
  height: 50px;
  margin: 0 auto;
  padding: 10px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 350ms, visibility 350ms;
  z-index: 1;
}

.backdrop.is-hidden {
  display: none;
}

.modal {
  width: 528px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: transform 350ms;
  padding-right: 41px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover, .modal__btn:focus {
  color: #2196f3;
}

.modal__h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 12px;
}

.modal-form__label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
  width: 100%;
  height: 40px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-input-people-icon {
  border-color: #188ce8;
  color: #2196f3;
}

.modal-form__input:focus + .modal-input-smartphone-icon {
  border-color: #188ce8;
  color: #2196f3;
}

.modal-form__input:focus + .modal-input-envelope-icon {
  border-color: #188ce8;
  color: #2196f3;
}

.modal-form__input:focus {
  border-color: #2196f3;
}

.modal-submit-div {
  justify-content: center;
  display: flex;
  align-items: center;
  align-content: center;
}

.modal-submit-div__btn {
  width: 200px;
  height: 50px;
  background: #188ce8;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 0px;
}

.modal-submit-div__btn:focus, .modal-submit-div__btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-checkbox-div {
  height: 24px;
  margin-bottom: 30px;
}

.modal-checkbox-div__checkbox {
  width: 16px;
  height: 15px;
}

.modal-checkbox-div__checkbox:checked + .modal-checkbox-div__label::before {
  background-image: url(../images/checkbox.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

.modal-checkbox-div__label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  align-items: center;
  display: flex;
  justify-content: center;
}

.modal-checkbox-div__label::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  display: block;
  border: 0.2px solid #000000;
  margin-right: 8.38px;
}

.modal-checkbox-div__link {
  color: #2196f3;
}

.modal-textarea {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 16px 12px;
  margin-top: 4px;
  outline: none;
  resize: none;
  cursor: pointer;
}

.modal-textarea:focus, .modal-textarea:hover {
  border-color: #2196f3;
}

.modal-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-input-svg {
  position: relative;
  height: 40px;
  margin-bottom: 10px;
  width: 448px;
  margin-top: 4px;
}

.modal-input-people-icon {
  color: #212121;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-smartphone-icon {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 50%;
  transform: translateY(-50%);
  left: 14.27px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-envelope-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 12px;
  left: 13.5px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1199px) {
  .description {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .description-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .desctiption-list__li {
    text-align: left;
  }
  .desctiption-list__li:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .desctiption-list__li {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .desctiption-list__li {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.desctiption-div-icon {
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.description__h3 {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  font-style: normal;
  font-size: 14px;
}

.description__p {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
}

.photo {
  padding-bottom: 94px;
  background-color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .photo {
    display: none;
  }
}

.photo__h2 {
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-style: normal;
  font-size: 36px;
  margin-bottom: 50px;
}

.photo-list {
  display: flex;
}

.photo-list__li {
  padding-right: 30px;
}

.photo-h3-div {
  width: 369.98px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1435px;
}

.photo-h3-div__h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1199px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__h2 {
  margin: 0 0 50px 0;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1199px) {
  .team__h2 {
    font-size: 36px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: -15px;
  }
}

.team-list__li {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

.team-list__li:last-child {
  margin-right: 0px;
}

@media screen and (min-width: 320px) {
  .team-list__li {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team-list__li {
    max-width: 354px;
  }
}

@media screen and (min-width: 1199px) {
  .team-list__li {
    max-width: 270px;
  }
}

.team__img {
  width: 100%;
  height: auto;
  display: block;
}

.team-icon-list {
  display: flex;
  justify-content: center;
}

.team-icon-list__li {
  width: 44px;
  height: 44px;
}

.team-icon-list__li + .team-icon-list__li {
  margin-left: 10px;
}

.team-div {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-div__h3 {
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}

.team-div__p {
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
}

.team-icon-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:focus, .team-icon-link:hover {
  background-color: #2196f3;
  color: #ffffff;
}

.team-icon-link__icon {
  fill: currentColor;
}

.clients {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1199px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__h2 {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients-list__li {
  width: calc(100% / 2 - 30px);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients-list__li {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__li {
    width: calc(100% / 6 - 30px);
  }
}

.clients-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon-link:hover, .clients-icon-link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.clients-icon-link__icon {
  fill: currentColor;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1199px) {
  .footer-div {
    display: flex;
    align-items: baseline;
  }
}

.footer-div-address {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-div-address {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1199px) {
  .footer-div-address {
    margin-right: 70px;
  }
}

.footer-address {
  margin-top: 20px;
}

.footer-list__li {
  margin-bottom: 9px;
}

.footer-list__li:last-child {
  margin-bottom: 0px;
}

.footer-list__location {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.footer-list__link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.footer-icon-div {
  fill: currentColor;
}

.footer-icon-list {
  display: flex;
  justify-content: center;
}

.footer-icon-list__li {
  width: 44px;
  height: 44px;
}

.footer-icon-list__li + .footer-icon-list__li {
  margin-left: 10px;
}

.footer-icon-div__h3 {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-icon-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-list__link:focus, .footer-icon-list__link:hover {
  background-color: #2196f3;
  color: #ffffff;
}

.footer-tablet {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-tablet {
    text-align: left;
    margin-bottom: 0;
    margin-right: 93px;
  }
}

.footer-input-div__h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 1199px) {
  .footer-input-div__h3 {
    text-align: left;
  }
}

@media screen and (min-width: 1199px) {
  .footer-form {
    display: flex;
    width: 556px;
  }
}

.footer-form-input {
  max-width: 450px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  color: #f5f4fa;
  margin-bottom: 20px;
}

.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1199px) {
  .footer-form-input {
    min-width: 358px;
    margin-right: 12px;
  }
}

.footer-form-input__btn {
  width: 200px;
  height: 50px;
  background: #2196f3;
  border-radius: 4px;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 0px;
  padding-left: 29px;
  padding-right: 28px;
  margin-left: auto;
  margin-right: auto;
}

.footer-form-input__btn:hover, .footer-form-input__btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form-input__icon {
  margin-left: 10px;
}

.maincontant {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .nav-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

.nav-list__li {
  margin-right: 8px;
  display: flex;
  justify-content: center;
}

.nav-list__li:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 768px) {
  .nav-list__li {
    margin-bottom: 15px;
  }
}

.nav-list__btn {
  font-family: inherit;
  font-style: normal;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  /* height: 38px; */
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__btn:focus, .nav-list__btn:hover {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .maincontant-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.maincontant-list__li {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.maincontant-list__li:focus, .maincontant-list__li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .maincontant-list__li {
    max-width: 420px;
    margin-bottom: 30px;
    margin-right: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1199px) {
  .maincontant-list__li {
    flex-basis: calc(100% / 3 - 30px);
  }
  .maincontant-list__li:nth-child(3n) {
    margin-right: 0px;
  }
}

.maincontant-div-li {
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.maincontant-div-img {
  position: relative;
  overflow: hidden;
  display: block;
  max-width: 100%;
  height: auto;
}

.maincontant-div-img__img {
  width: 100%;
  height: auto;
}

.maincontant-list__link {
  display: block;
  position: relative;
}

.maincontant-list__link:hover .maincontant-list__overflow-p,
.maincontant-list__link:focus .maincontant-list__overflow-p {
  transform: translateY(0);
  opacity: 1;
}

.maincontant-list__overflow-p {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.maincontant-div-li__h3 {
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 4px;
}

.maincontant-div-li__p {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
/*# sourceMappingURL=main.css.map */