.header {
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  height: 80px;
}

.header__nav {
  display: flex;
  @media screen and (min-width: 767px) {
    align-items: center;
  }
  @media screen and (min-width: 1199px) {
    align-items: baseline;
  }
}
.header-mob-menu {
  display: flex;
  @media screen and (max-width: 1199px) {
    width: 100%;
    align-items: center;
  }
  @media screen and (min-width: 1199px) {
    margin-right: 88px;
  }
}
.header-mob-menu__btn {
  display: inline-flex;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  border: none;
  color: currentColor;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus {
    color: #2196f3;
  }
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list {
  display: flex;
  margin-right: 84px;
  @media screen and (max-width: 767px) {
    display: none;
  }
  margin-top: 32px;
  margin-bottom: 32px;
}
.header-list__li {
  margin-right: 50px;
  cursor: pointer;
  &:last-child {
    margin-right: 0px;
  }
}
.header-list__link {
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 32px;
  &:focus,
  &:hover {
    color: #2196f3;
  }
  &.current::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    background-color: #2196f3;
    height: 4px;
    border-radius: 2px;
  }
}
.current {
  position: relative;
  color: #2196f3;
}
.header-list2 {
  align-items: center;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1199px) {
    display: inline-flex;
    margin-left: 178px;
  }
}
.header-list2__li {
  cursor: pointer;
  @media screen and (min-width: 767px) {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1199px) {
    margin-right: 50px;
    margin-bottom: 0px;
    &:last-child {
      margin-right: 0px;
    }
  }
}
.header-list2__link {
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  font-size: 14px;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  display: flex;
  align-items: center;
  &:focus,
  &:hover {
    color: #2196f3;
  }
  @media screen and (min-width: 767px) {
    font-size: 12px;
    line-height: 1.16;
  }
}
.header-list2__icon {
  margin-right: 10px;
}
