.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1199px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__h2 {
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-style: normal;
  font-size: 36px;
  margin-bottom: 50px;
}
.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: -15px;
  }
}
.team-list__li {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:last-child {
    margin-right: 0px;
  }
  margin-bottom: 30px;
}
.team-icon-list {
  display: flex;
  justify-content: center;
}
.team-icon-list__li {
  width: 44px;
  height: 44px;
  & + & {
    margin-left: 10px;
  }
}
.team-div {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-div__h3 {
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}
.team-div__p {
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
}
.team-icon-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: #2196f3;
    color: #ffffff;
  }
}
.team-icon-link__icon {
  fill: currentColor;
}
