.mobile-modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;

  transform: translateX(100%);
}

.mobile-modal.is-open {
  transform: translateX(0%);
}
