body {
  background: #e5e5e5;
  font-family: Roboto;
}
img {
  width: 100%;
}
.btn {
  cursor: pointer;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
