.logo {
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.19;
  font-style: normal;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-header-studio {
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.19;
  font-style: normal;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-footer-studio {
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-style: normal;
  font-size: 26px;
  color: #ffffff;
}
